* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica;
  font-weight: 100;
  margin: 30px 30px;
}

table {
  margin: 20px 0;
  padding: 10px 0 30px 0;
  width: 600px;
}

.main-title {
  margin-bottom: 40px;
}
.property-title {
  margin-bottom: 15px;
}

.property-value {
  border: 1px solid #21361c;
  color: #21361c;
  padding: 20px;
  text-align: right;
  font-family: monospace;
  font-size: 1rem;
}

.property-value:hover {
  background-color: #21361c;
  color: white;
}

.property-description {
  padding-left: 20px;
  text-align: justify;
}

.property-description:hover {
  font-weight: 400;
}

.property-name {
  width: 200px;
  padding: 5px 0 3px 0;
  text-align: left;
  font-weight: 100;
  font-family: monospace;
  font-size: 1rem;
  color: #21361c;
}

.footer-text {
  text-align: left;
  font-size: 0.8rem;
  margin-top: 40px;
}

.footer-text a {
  color: #21361c;
  text-decoration: none;
}
.footer-text a:hover {
  text-decoration: underline;
}
