body {
  margin: 0px;
  background-color: whitesmoke;
  font-family: "Rock Salt", cursive;
  text-align: center;
}

.secondary-background {
  background-color: snow;
}

.tagline {
  font-family: "Quicksand", sans-serif;
  color: lightslategrey;
  line-height: 125px;
}

/* Header */

h1 {
  margin: 0;
  background-color: steelblue;
  line-height: 100px;
  color: khaki;
}

h2 {
  margin: 10px;
}

/* App container */

.container {
  border: 2px solid snow;
}

/* To Do Section */
.week {
}

.row {
  min-height: 200px;
  display: flex;
}

.day {
  /* .day.square*/
  background-color: steelblue;
}

.task {
  /* .task.square */
  background-color: khaki;
  border: 1px solid white;
}

.square {
  width: 125px;
  height: 125px;
  padding: 10px;
}

.task-description {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 12px;
}

/* Reminders section */

.reminders {
  background-color: khaki;
}

.reminders h3 {
  /* width: 100%;
    margin: 10px; */
  color: black;
  line-height: 90px;
  font-size: 24px;
}

/* Footer */

footer {
  font-size: 24px;
}
