* {
  box-sizing: border-box;
}
h1 {
  text-align: center;
}
.container {
  width: 50vw;
  height: 50vh;
  min-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  background-color: rgb(244, 239, 227);
}
button {
  height: 50px;
  width: 200px;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
}
.btn1 {
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 5px 5px;
}

.btn1:hover {
  cursor: pointer;
  background-color: rgb(242, 217, 154);
}

.btn1:active {
  margin-top: 5px;
  margin-bottom: -5px;
  box-shadow: 0px 0px;
  color: white;
  background-color: rgb(198, 178, 128);
}
.btn2 {
  border: 1px solid #466995;
  border-radius: 10px;
  box-shadow: 0px 4px;
}
.btn2:hover {
  background-color: rgb(64, 128, 196);
}
.btn2:active {
  margin-top: 5px;
  margin-bottom: -5px;
  box-shadow: 0px 0px;
  background-color: #c0d6df;
  color: #ffffff;
}
.skeu {
  border: 2px solid #0c960c;
  border-radius: 5px;
  color: #f8f8f8;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2),
    0px -2px 2px rgba(255, 255, 255, 0.5) inset,
    0 2px 2px rgba(255, 255, 255, 0.8) inset;
  background: linear-gradient(#0ebc0e, #0c960c);
  text-shadow: 0 -2px #0c960c;
}
.skeu:hover {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1),
    0px -2px 2px rgba(255, 255, 255, 0.25) inset,
    0 2px 2px rgba(255, 255, 255, 0.4) inset;
  background: #0ebc0e;
  background: linear-gradient(#0ebc0e, #0c960c);
  border-color: #064f06;
}
.skeu:active {
  margin-top: 2px;
  margin-bottom: -2px;
  box-shadow: 0px 2px 2px rgba(63, 63, 63, 0.1),
    0px -2px 2px rgba(255, 255, 255, 0.25) inset,
    0 2px 2px rgba(255, 255, 255, 0.4) inset;
  background: #0c960c;
  background: linear-gradient(#0c960c, #0ebc0e);
}
.flat {
  background-color: #1d1;
  color: #fff;
  border: 2px solid #12dd23;
  border-radius: 10px;
}
.flat:hover {
  background-color: #0c960c;
  transition: background-color 0.15s, font-size 0.15s;
  font-size: 18px;
}
.flat:active {
  border-color: #fff;
}
.empty {
  background-color: transparent;
  border: 4px solid green;
}
.empty:hover {
  background-color: rgb(242, 217, 154);
}
.empty:active {
  color: white;
  background-color: rgb(1, 53, 1);
}
