body {
  padding: 0;
  margin: 0;
  background-color: #1e1e24;
  text-align: center;
}

main {
  max-width: 800px;
  min-width: 300px;
  margin: 0 auto;
}

.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://images.unsplash.com/photo-1444882158336-bcfbd9298309?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb);
  height: 200px;
  background-position: bottom center;
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-family: "Ruda", sans-serif;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 900;
  margin: 0;
  padding-top: 50px;
}

h2 {
  font-family: "Catamaran", sans-serif;
  color: #fff;
  margin: 0;
  text-align: left;
}

h3 {
  color: #d7263d;
  font-family: "Ruda", sans-serif;
  font-size: 32px;
  margin: 0;
  position: relative;
  text-align: left;
  text-transform: uppercase;
}

p {
  color: rgba(255, 255, 255, 0.75);
  font-family: "Potano Sans", sans-serif;
  margin: 0;
  text-align: left;
}

.hotel {
  border: 1px solid rgb(82, 62, 26);
  margin: 60px auto;
  padding: 10px 0 0 0;
  width: 90%;
}
.hotel img {
  display: inline-block;
  margin-top: 20px;
}
.hotel-description {
  display: inline-block;
  width: 70%;
}

.book {
  margin-top: 30px;
  width: 100%;
  border-top: 1px solid rgb(82, 62, 26);
}
a {
  background-color: #560a14;
  color: white;
  display: block;
  font-family: "Pontano Sans", sans-serif;
  font-size: 16px;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

ul {
  padding: 0;
  margin: 10px 0;
}

li {
  margin: 0;
  list-style: none;
}

/* ************************************************* */
/* **************  BREADCRUMBS ********************* */
/* ************************************************* */

.breadcrumb {
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
}

/****************** BASIC STYLE ********************* */
/* ASIA > SINGAPORE > TOURISM > HOTELS */

/*

.breadcrumb a {
  background-color: inherit;
  display: inline;
}

.breadcrumb li {
  display: inline;
}

.breadcrumb li + li::before {
  content: ">";
  color: white;
}

*/

/***************** MORE VISUAL STYLE *************** */

.breadcrumb li {
  float: left;
}

.breadcrumb a {
  color: white;
  background: #560a14;
  text-decoration: none;
  position: relative;
  height: 30px;
  line-height: 30px;
  text-align: center;

  margin-right: 15px;
  padding: 0 5px;
}

.breadcrumb a::before,
.breadcrumb a::after {
  content: "";
  position: absolute;
  border-color: #560a14;
  border-style: solid;
  border-width: 15px 5px;
}

.breadcrumb a::before {
  left: -10px;
  border-left-color: transparent;
}

.breadcrumb a::after {
  left: 100%;
  border-color: transparent;
  border-left-color: #560a14;
}

.breadcrumb a:hover,
.book a:hover {
  background-color: rgb(210, 176, 111);
  color: black;
}

.breadcrumb a:hover::before {
  border-color: rgb(210, 176, 111);
  border-left-color: transparent;
}

.breadcrumb a:hover::after {
  border-left-color: rgb(210, 176, 111);
}
