* {
  /* outline: auto; */
}

html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
}

body {
  margin: 1rem 2rem;
  padding: 0;
  box-sizing: border-box;
  min-width: 25rem;
  background-color: rgb(191, 199, 166);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

#logo {
  width: 18.75rem;
  filter: invert();
}

#slogan {
  font-size: 2.3rem;
  font-weight: 400;
  padding-bottom: 1.5rem;
}

.team,
.team-members,
.products {
  display: flex;
  justify-content: center;
}
.products {
  justify-content: space-evenly;
  margin: auto;
}
.products img {
  height: 10rem;
}
.team-members,
.products,
.mission {
  max-width: 50rem;
}
.team img {
  width: 15rem;
  filter: sepia(50%);
  filter: saturate(5%);
}
#team-member1 {
  border-radius: 140px 0 0 10px;
}
#team-member2 {
  border-radius: 0 10px 140px 0;
}

.mission,
.team-description,
.conclusion {
  width: 30rem;
  margin: auto;
  padding: 1.5rem;
}
.description {
  text-align: center;
  font-size: 1.4rem;
  /* font-style: italic; */
}

footer {
  text-align: center;
  width: 20rem;
  margin: 5rem auto;
  font-size: 0.8rem;
  line-height: 0.5;
}

footer a {
  text-decoration: none;
  color: rgb(80, 122, 84);
}

.products img:hover {
  /* filter: drop-shadow(5px 5px 5px rgb(114, 28, 77)) invert(100%); */
  filter: invert(100%);
}

#team-member1:hover,
#team-member2:hover {
  filter: blur(100%);
}

@media only screen and (max-width: 600px) {
  .team-members {
    flex-direction: column;
    align-items: center;
    min-width: 35rem;
  }
  .mission,
  .team-description,
  .conclusion {
    width: 20rem;
  }
  .products {
    flex-wrap: wrap;
    width: 17rem;
    row-gap: 1rem;
  }
  .products img {
    width: 8rem;
    height: 8rem;
  }
  #slogan {
    font-size: 2rem;
  }
  #logo {
    width: 17rem;
  }
  .team img {
    width: 14rem;
  }
  #team-member1 {
    border-radius: 140px 10px 0 0;
  }
  #team-member2 {
    border-radius: 0 0 140px 10px;
  }
}
