* {
  /* outline: auto; */
}
html {
  font-size: 16px;
}

body {
  margin: 1rem 2rem;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-width: 25rem;
  background-color: rgb(191, 199, 166);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

#logo {
  width: 18.75rem;
  filter: invert();
}

#slogan {
  font-size: 2rem;
  font-weight: 300;
  /* background-color: cadetblue; */
}

.team,
.team-members,
.products {
  display: flex;
  justify-content: center;
  /* outline: auto; */
}
.products {
  justify-content: space-evenly;
  margin: auto;
}
.products img {
  height: 10rem;
}
.team-members,
.products,
.mission {
  max-width: 50rem;
}
.team img {
  width: 18rem;
  filter: sepia(50%);
  filter: saturate(30%);
}
#team-member1 {
  border-radius: 140px 0 0 10px;
}
#team-member2 {
  border-radius: 0 10px 140px 0;
}

.mission,
.team-description {
  width: 30rem;
  margin: auto;
  padding: 1.5rem;
}
.description {
  text-align: center;
  font-size: 1rem;
  font-style: italic;
}

footer {
  text-align: center;
  width: 20rem;
  margin: 5rem auto;
  font-size: 0.8rem;
  line-height: 0.5;
}

#logo:hover {
  filter: contrast();
}

@media only screen and (max-width: 600px) {
  .team-members {
    flex-direction: column;
    align-items: center;
    min-width: 35rem;
  }
  .mission {
    width: 20rem;
  }
  .products {
    flex-wrap: wrap;
    width: 17rem;
    row-gap: 1rem;
  }
  .products img {
    width: 8rem;
    height: 8rem;
  }
  #slogan {
    font-size: 1.5rem;
  }
  #logo {
    width: 17rem;
  }
  .team img {
    width: 14rem;
  }
  #team-member1 {
    border-radius: 140px 10px 0 0;
  }
  #team-member2 {
    border-radius: 0 0 140px 10px;
  }
}
