html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  max-width: 500px;
}
header {
  background-image: url(./images/hanin-abouzeid-sHu1uwmZgug-unsplash.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  height: 600px;

  display: flex;
  align-items: flex-start;
  justify-items: flex-end;
}

#logo {
  width: 20%;
  filter: invert();
}

#slogan {
  font-size: 2rem;
  font-weight: 300;
  background-color: cadetblue;
  width: 100%;
}

.team {
  display: flex;
}

.team img {
  width: 50%;
}
