* {
  /* outline: auto; */
}
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
}

header {
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: linear-gradient(
      rgba(14, 14, 95, 0.5),
      rgba(162, 100, 12, 0.5)
    ),
    url(./images/books_background.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;

  padding-left: 5rem;
}

.slogan {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  font-size: 1.3rem;
}

.carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.carousel img {
  width: 20rem;
}

.opinnions {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;

  margin: 2rem 10rem;
}

.opinnions img {
  width: 1rem;
}
.opinnions p {
  padding-top: 2rem;
}
.join-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.join-us button {
  width: 10rem;
  padding: 1rem;
  background-color: rgb(228, 236, 233);
  border-radius: 10px;
  border: none;
}

.join-us button:hover {
  background-color: rgb(184, 242, 220);
}

.join-us button:active {
  background-color: black;
  color: white;
}
