html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}
body {
  filter: grayscale(60%);
  background-color: rgb(255, 255, 255);
}

header {
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(
      rgba(14, 14, 95, 0.5),
      rgba(162, 100, 12, 0.5)
    ),
    url(./images/books_in_shadows.jpg);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(223, 220, 220);
  font-size: larger;
}

.slogan {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  font-size: 1.3rem;
}

.carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.carousel img {
  width: 20rem;
}

.opinnions {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 80%;
  margin: 1rem auto;
}

.opinnions img {
  width: 1rem;
}
.opinnions p {
  padding-top: 2rem;
}
.join-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 5rem;
}

.join-us button {
  width: 10rem;
  padding: 1rem;
  background-color: rgb(228, 236, 233);
  border-radius: 10px;
  border: none;
  font-size: 1rem;
}

.join-us button:hover {
  background-color: rgb(184, 242, 220);
  filter: invert();
}

.join-us button:active {
  background-color: rgb(48, 47, 47);
  color: rgb(255, 255, 255);
}

footer {
  padding-top: 3rem;
  font-size: 0.875rem;
}

@media only screen and (max-width: 1000px) {
  .carousel img {
    width: 30%;
  }
}

@media only screen and (max-width: 540px) {
  html {
    font-size: 14px;
  }
  .carousel img {
    width: 20rem;
  }
}
